<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
	
	<ui:define name="conteudo">
	
	<p:growl id="messages" showDetail="true"/>
	
	<p:fieldset legend="#{votacaoController.data}">
		<ui:repeat var="restaurante" value="#{votacaoController.listRestaurantes}">
		<h:form>
			<div class="ui-g">
				<div class="ui-g-2"></div>
				<div class="ui-g-8">
					<p:panel id="panelRestaurantes" header="#{restaurante.nome}" style="margin-bottom:10px">
		        		<h:panelGrid columns="2" cellpadding="10">
							<p:outputLabel title="" value="Endereco: " for="campo-endereco"/>
							<p:outputLabel id="campo-endereco" title="Endereco" value="#{restaurante.endereco}"/>
							
							<p:outputLabel title="" value="Preço: " for="campo-preco"/>
							<p:outputLabel id="campo-preco" title="Endereco" value=" R$ #{restaurante.precoKg}"/>	
		        		</h:panelGrid>
		        		<div class="ui-g">
								<div class="ui-g-4"></div>
								<div class="ui-g-4 text-center">
									<p:commandButton action="#{votacaoController.votar(restaurante.nome)}" value="Votar!" update="messages">
									</p:commandButton>
								</div>
								<div class="ui-g-4"></div>
							</div>
		    		</p:panel>
				</div>
				<div class="ui-g-2"></div>
			</div>		
		</h:form>
					
		</ui:repeat>
	</p:fieldset>
				
	<h:messages/>
	</ui:define>
	
</ui:composition>
