<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 

<h:head>
<h:outputStylesheet library="css" name="bootstrap.css"  />
</h:head> 
<body> 
<div class="ui-g">
	<div class="ui-g-4"></div>
	<div class="ui-g-4 text-center"><h:graphicImage library="images" name="restaurant_128.png"></h:graphicImage></div>
	<div class="ui-g-4"></div>
</div>
<div class="ui-g">
		<div class="ui-g-4"></div>
		<div class="ui-g-4">
		<p:layoutUnit position="center">
			<h:form>
			<p:growl id="messages" showDetail="true"/>
				<p:panelGrid columns="2">
					<p:outputLabel value="Usuario: " for="campo-usuario"/>
					<p:inputText id="campo-usuario" value="#{loginController.nome}"/>
					
					<p:outputLabel value="Senha: " for="campo-senha"/>
					<p:inputText id="campo-senha" value="#{loginController.senha}"/>
					
					<p:commandButton value="Entrar" action="#{loginController.login}" update="messages"/>
				</p:panelGrid>
			</h:form>
    </p:layoutUnit>
		</div>
		<div class="ui-g-4"></div>
	</div>
</body> 
</html>