<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
	
	<ui:define name="conteudo">
	
	<p:growl id="messages" showDetail="true"/>
	
	<p:fieldset legend="Ranking de Hoje">
		<ui:repeat var="ranking" value="#{votacaoController.ranking}">
			<div class="ui-g">
				<div class="ui-g-8">
					<p:panelGrid columns="2">
						<p:outputLabel value="#{ranking.nomeRestaurante}"></p:outputLabel>
						<p:outputLabel value="#{ranking.quantidadeVotos}"></p:outputLabel>					
					</p:panelGrid>
				</div>
				<div class="ui-g-4">
				</div>
			</div>		
		</ui:repeat>
	</p:fieldset>
				
	</ui:define>
	
</ui:composition>
