<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
<h:head>
  <title>Lunch Time!</title>
</h:head>

<h:body>    
<!-- <link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/resources/css/style.css"/> -->
<h:outputStylesheet library="css" name="bootstrap.css"  />
<!-- html source code -->
<link type="text/css" rel="stylesheet" href="/project/faces/javax.faces.resource/theme.css?ln=primefaces-start" />  
<div id="header">
	<div class="ui-g">
		<div class="ui-g-4"><h:graphicImage library="images" name="restaurant_128.png"></h:graphicImage></div>
		<div class="ui-g-4 text-center"> Restaurant Chooser</div>
		<div class="ui-g-4"></div>
	</div>
	
    <div style="clear:both"></div>
</div> 


<div id="conteudo">
  <ui:insert name="conteudo">
    	Espaço para o conteudo da tela
  </ui:insert>
</div>

<div id="footer" style="text-align: center;">
  <hr/>
  Copyright 2017. All Rights Reserved.
  <h:graphicImage library="imagens" name="fifa-logo2.jpg" style="float: right;"></h:graphicImage> 
</div>

</h:body>

</html>
